.rb-box,
.rb-box-1,
.rb-box-2,
.rb-box-3,
.rb-box-4,
.rb-box-rounded,
.rb-box-rounded-1,
.rb-box-rounded-2,
.rb-box-rounded-3,
.rb-box-rounded-4 {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
.rb-box-1,
.rb-box-rounded-1 {
    padding: 20px;
}
.rb-box-2,
.rb-box-rounded-2 {
    padding: 40px;
}
.rb-box-3,
.rb-box-rounded-3 {
    padding: 60px;
}
.rb-box-4,
.rb-box-rounded-4 {
    padding: 72px;
}
.rb-box-rounded,
.rb-box-rounded-1,
.rb-box-rounded-2,
.rb-box-rounded-3,
.rb-box-rounded-4 {
    border-radius: 6px;
}

/* line between boxes
   Used JS code to add .rb-box-line-top and .rb-box-last classnames */
.rb-box-line {
    // line
    &::before {
        content: "";
        position: absolute;
        display: block;
        top: 2rem;
        right: 0;
        bottom: 2rem;
        border-left: 1px solid;
        opacity: .07;
    }
    &.rb-box-line-top::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 2rem;
        left: 2rem;
        border-bottom: 1px solid;
        opacity: .07;
    }
    &.rb-box-last::before {
        content: none;
    }
}
