.rb-header-title {
    background: $color_bg;    
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    z-index: 0;

    .wave {

        background: url(/static/media/wave.16013133.svg) repeat-x;
        position: absolute;
        bottom: -15%;
        width: 12800px;
        height: 518px;
        animation: wave1 110s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        transform: translate3d(0, 0, 0);
        opacity: 0.8;
        
        &:nth-child(2) {
            width: 12800px;
            height: 518px;
            top: -15%;
            bottom: auto;
            animation: wave2 100s cubic-bezier(0.3, 0.42, 0.7, 0.5) infinite;
          -webkit-transform: scaleX(-1) rotate(180deg) translate(-3000px,0);
          transform: scaleX(-1) rotate(180deg);
        }

    }

    @keyframes wave1 {
      0% {
        margin-left: 0;
      }
      100% {
        margin-left: -6400px;
      }
    }

    @keyframes wave2 {
      0% {
        margin-left: 0;
      }
      100% {
        margin-left: -6400px;
      }
    }    
        /*
        @keyframes swell {
          0%, 100% {
            transform: translate3d(0,-25px,0);
          }
          50% {
            transform: translate3d(0,5px,0);
          }
        }*/

    // size default
    .rb-header-table {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 470px;
        padding-top: 75px;
    }

    // size small
    &.rb-header-title-sm .rb-header-table {
        min-height: 370px;
    }

    // size mid
    &.rb-header-title-md .rb-header-table {
        min-height: 570px;
    }

    // size large
    &.rb-header-title-lg .rb-header-table {
        min-height: 670px;
    }

    // size x-large
    &.rb-header-title-xl .rb-header-table {
        min-height: 770px;
    }

    // size full
    &.rb-header-title-full .rb-header-table {
        min-height: 100vh;
    }

    .rb-header-table-cell {
        flex: 1;
        width: 100%;
        padding: 80px 0;
    }

    // text bottom
    .rb-header-text-bottom {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgba($color_dark_1, .4);
    }
    &.rb-header-title-full .rb-header-text-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }

    // scroll down button
    .rb-header-title-scroll-down {
        position: absolute;
        display: block;
        bottom: 65px;
        left: 50%;
        width: 50px;
        height: 50px;
        margin-left: -25px;
        font-size: 2rem;
        line-height: 54px;
        color: inherit;
        text-align: center;
        text-decoration: none;
        border: 1px solid;
        border-radius: 50%;
        opacity: .6;
        transition: .5s opacity;

        &:hover {
            opacity: 1;
        }
    }

    // title
    h1.rb-title {
        line-height: 1.18;
    }
}
